#Borderpane {
	-fx-background-color: #eff0f3;
}

#upperNavlbl {
	-fx-background-color: linear-gradient(to right , #222e57, #23305a);
	-fx-border-radius: 0 25 0 0;
	-fx-background-radius: 0 25 0 0;
}

#Closeicon {
	-fx-background-color: #5d76dc;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

#NavigationIcons {
	-fx-background-color: #5d76dc;
	-fx-border-radius: 0 0 25 0;
	-fx-background-radius: 0 0 0 0;
}

#NavigationLabelsPane {
	-fx-background-color: linear-gradient(to bottom left , #24315c, #0e0a1a);
	-fx-border-radius: 0 0 25 0;
	-fx-background-radius: 0 0 25 0;
}

#DashboardButton {
	-fx-background-color: transparent;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20px;
}

#DashboardButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#StudentProfButton {
	-fx-background-color: transparent;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20px;
}

#StudentProfButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#TimetableButton {
	-fx-background-color: transparent;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20px;
}

#TimetableButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#ScheduleButton {
	-fx-background-color: transparent;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20px;
}

#ScheduleButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#GradingButton {
	-fx-background-color: #3c5199;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#GradingButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#NewStudButton {
	-fx-background-color: #3c5199;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#NewStudButton:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#OldStudBtn {
	-fx-background-color: #3c5199;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#OldStudBtn:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#StudentsBtn {
	-fx-background-color: #3c5199;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#StudentsBtn:hover {
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#LogOutButton {
	-fx-background-color: #3c5199;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#LogOutButton:hover {
	-fx-background-color: #FF6565;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}