#Borderpane{
	-fx-background-color: #eff0f3;
}

#upperNavlbl{
	-fx-background-color: #3c5199;
	-fx-border-radius: 0 25 0 0;
	-fx-background-radius: 0 25 0 0;
}

#NavigationIcons{
	-fx-background-color: #5d76dc;
}

#NavigationLabelsPane{
	-fx-background-color: #3c5199;
	-fx-border-radius: 0 0 25 0;
	-fx-background-radius: 0 0 25 0;
}

#Dashboardbtn:hover{
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#StudentProfbtn:hover{
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#Timetablebtn:hover{
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25 0 0 25;
	-fx-background-radius: 25 0 0 25;
}

#LogOutbtn:hover{
	-fx-background-color: #4b61ad;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}