#Mainpane{
	-fx-background-color: #eff0f3;
}

#NavigationIcons{
	-fx-background-color: #5d76dc;
}

#NavigationLabelsPane{
	-fx-background-color: #3c5199;
	-fx-border-radius: 0 25 25 0;
	-fx-background-radius: 0 25 25 0;
}