#BorderPane{
	-fx-background-color: #EFF0F3;
}

#SearchIcon{
	-fx-background-color: #3C5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#EnrollStatPane{
	-fx-background-color: linear-gradient(to left, #2675e3, #3C5199);
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#SchedPane{
	-fx-background-color: #DFE2ED;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#SchedContainer{
	-fx-border-color: #C9CAD9;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#GradesPane{
	-fx-background-color: #DFE2ED;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}


#GradesContainer{
	-fx-border-color: #C9CAD9;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#label {
	-fx-text-fill: #23212C; 
	-fx-font-size:17px;
	-fx-font-family: "Arial Rounded MT Bold";
}

#SidePane{
	-fx-background-color: #DEDFE2;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#EditStudProfLbl{
	-fx-border-color: #23212C;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	
}

#EditStudProfBtn{
	-fx-background-color: #3C5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#ExportBtn{
	-fx-background-color: #3C5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	-fx-text-fill: #EFF0F3;
}

#StudentName {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:13 px;
}

#EnrollmentSts {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 30 px;
	-fx-text-fill: #DFE2ED;

	}

#ScheduleLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20 px;
}

#GradesLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 20 px;
}

#noShit {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 12 px;
}

/*#dp {
	-fx-border-color: #3C5199;
	-fx-border-width: 5;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}

.dpule {
	-fx-border-color: #3C5199;
	-fx-border-width: 5;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}*/