#BtnTimetable {
	-fx-background-radius:15;
	-fx-background-color: linear-gradient(to left, #2675e3, #3C5199)
}

#bgpane {
	-fx-background-radius:15;
	-fx-background-color:#3C5199;
}

#EditBG {
	-fx-background-radius:24;
	-fx-background-color:lightgray;
}

#EditBtn {
	-fx-background-radius:50% 50%;
}

#calendarnxt{
	-fx-background-color: #3c5199;
}

#calendarnxt{
	-fx-background-color: #3c5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#calendarprev{
	-fx-background-color: #3c5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

#Calendar{
	-fx-background-color: #f7f5e9;
	-fx-border-radius: 5;
	-fx-border-width: 2;
	-fx-border-color: #3c5199;
}