#Container{
	-fx-background-color: #3C5199;
	-fx-background-radius: 24;
}

#Course {
	-fx-border-color: #D9D9D9;
	-fx-border-width: 2px; 
	-fx-border-radius: 24;
}

#ColumnName{
	-fx-background-color: #2F5F98;
}

#text {
	-fx-text-fill: #D9D9D9;
	-fx-background-color: #3C5199;
}

#AY {
	-fx-border-color: #D9D9D9;
	-fx-border-width: 2px; 
	-fx-border-radius: 24;
	-fx-text-fill: white;
}

#Semester {
	-fx-border-color: #D9D9D9;
	-fx-border-width: 2px; 
	-fx-border-radius: 24;
	-fx-text-fill: white;
}

#Year {
	-fx-border-color: #D9D9D9;
	-fx-border-width: 2px; 
	-fx-border-radius: 24;
	-fx-text-fill: white;
}

#button {
	-fx-border-color: #D9D9D9;
	-fx-border-radius: 24;
	-fx-background-color:#3C5199;
	-fx-border-width: 2px; 
	-fx-border-radius: 24;
}

#background {
	-fx-background-color: #DFE2ED;
}

#table {
	-fx-border-color: #797AA8;
	-fx-border-width: 2px;
}

.tablecolumn {
	-fx-background-color: #C9CAD9;
}