#background {
	-fx-background-color:#EFF0F3;
}

#encBackground {
	-fx-background-color: #e8e3f4;
}
#greeting {
	-fx-background-color: #3C5199;
	-fx-background-radius: 24;
}

#encGreeting {
	-fx-background-color: #4b3485;
	-fx-background-radius: 24;	
}
#text {
	-fx-text-fill: #DFE2ED; 
	-fx-font-size:40px;
	-fx-font-family: "Arial Rounded MT Bold";
}

#preview {
	-fx-background-color: #3C5199;
	-fx-opacity: 0.82;
	-fx-background-radius: 24;
}

#pie {
	-fx-background-color:#C9CAD9;
	-fx-opacity: 0.82;
	-fx-background-radius: 24;
}

#encPie {
	-fx-background-color:#b1a1da;
	-fx-opacity: 0.82;
	-fx-background-radius: 24;
}

#bar {
	-fx-background-color: #C9CAD9;
	-fx-background-radius: 24;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-text-fill: #DFE2ED; 	
}

encBar {
	-fx-background-color: #c8cfe9;
	-fx-background-radius: 24;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-text-fill: #DFE2ED;
}

#label {
	-fx-text-fill: #DFE2ED; 
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 15px;
	}
	
#stud {
	-fx-text-fill: #DFE2ED; 
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 17px bold;
	}

#task{
	-fx-background-color: #4D5E9B;
	-fx-background-radius: 24;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 15px;
	-fx-text-fill: #DFE2ED; 	
	-fx-font-weight: bold;
}

#button {
	-fx-background-color: #4D5E9B;
}

#seperator {
	-fx-background-color: #4D5E9B;
	
}

#header {
	-fx-text-fill: #DFE2ED; 
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 15px;
}
#progress {
	-fx-background-color: #444BAF;
	-fx-background-radius: 24;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-text-fill: #DFE2ED; 
}

#encProgress {
	-fx-background-color: #3f2c70;
	-fx-background-radius: 24;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-text-fill: #DFE2ED; 
}

#admin {
	-fx-color: #DFE2ED;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:35px;
}