.Body {
	-fx-background-color:  #DFE2ED;
}
.Containers {
	-fx-background-color:  #3C5199;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}
.img {
	-fx-background-color:  #f5f5f5;
}
.enrollBTN {
	-fx-background-color:  #DFE2ED;
	}	
.combo-box {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #ccc; 
    -fx-border-width: 1px; 
    -fx-border-radius: 3px; 
}

#Infos{
	-fx-border-radius: 10;
	-fx-background-radius: 10; 
}

#gwaLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 24 px;
	-fx-text-fill: #EFF0F3;
}

#vboxCon {
	-fx-background-color: linear-gradient(to bottom , #4b63b8, #344685);
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #EFF0F3;
}

#submitBtn {
	-fx-background-color:#aeb9df;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #34245c;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-text-fill: #24315c;
}

#encgwaLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 24 px;
	-fx-text-fill: #EFF0F3;
	
}

#encvboxCon {
	-fx-background-color: linear-gradient(to top , #34245c, #7253bd);
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #EFF0F3;
}

#encsubmitBtn {
	-fx-background-color:#d5cbeb;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #34245c;
}

#encEnroll {
	-fx-background-color:#281c47;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #EFF0F3;
	-fx-font-family: "Arial Rounded MT Bold";
}

#encCon {
	-fx-background-color: linear-gradient(to bottom, #6446b2, #46317d, #281c47);
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-text-fill: #EFF0F3;
	-fx-font-family: "Arial Rounded MT Bold";
}

#encConHeader {
	-fx-background-color: #6446b2;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
}

#txtField {
	-fx-font-family: "Arial Rounded MT Bold";
}

.user-name {
	
}

#image {
	-fx-background-image: url("src/imgs_icons/Insert.png");
}
