.Body {
	-fx-background-color:  #DFE2ED;
}
.Containers {
	-fx-background-color:  #3C5199;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}
.img {
	-fx-background-color:  #f5f5f5;
}
.enrollBTN {
	-fx-background-color:  #DFE2ED;
	}	
.combo-box {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #ccc; 
    -fx-border-width: 1px; 
    -fx-border-radius: 3px; 
}

#Infos{
	-fx-border-radius: 10;
	-fx-background-radius: 10; 
}

.user-name {
	
}

#image {
	-fx-background-image: url("src/imgs_icons/Insert.png");
}
