#Container {
	-fx-background-color:#6476B4;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}

#encContainer {
	-fx-background-color:#5d41a6;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}
#background {
	-fx-background-color:#D1D7EB;
}


#EditBtn {
	-fx-background-color: #3C5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	-fx-text-fill: #EFF0F3;
}

#encEditBtn {
	-fx-background-color: #46317d;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	-fx-text-fill: #EFF0F3;
}

#InformationPane {
	-fx-background-color:#DFE2ED;
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}

#encInformationPane {
	-fx-background-color:#dbd3ee;
	-fx-effect: dropshadow(gaussian,#46317d, 8, 0.5, .5, 0);
	-fx-border-radius: 25;
	-fx-background-radius: 25;
}

#ProfileLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:30 px;
	-fx-text-fill: #EFF0F3;
	
}

#PersonalInfo {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 22 px;
}

#Infobox {
	-fx-background-color: #344685;
	-fx-background-radius: 25;
	-fx-border-radius: 25;	
}

#InfoLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 15 px;
}
#LblInfo {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 18 px;
	-fx-text-fill: #DFE2ED;
}

#CPLbl {
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size: 15 px;
}

#UpdateBtn {
	-fx-background-color: #3C5199;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	-fx-text-fill: #EFF0F3;
}

#encUpdateBtn {
	-fx-background-color: #46317d;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
	-fx-font-family: "Arial Rounded MT Bold";
	-fx-font-size:15 px;
	-fx-text-fill: #EFF0F3;
}